body {
    
    color:#fff !important;

    background: #000000; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzAwNGNjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkxJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #000000 8%, #004cc6 66%, #000000 91%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#000000), color-stop(66%,#004cc6), color-stop(91%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #000000 8%,#004cc6 66%,#000000 91%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #000000 8%,#004cc6 66%,#000000 91%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #000000 8%,#004cc6 66%,#000000 91%); /* IE10+ */
background: linear-gradient(to bottom,  #000000 8%,#004cc6 66%,#000000 91%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */

}

.heading {
    text-align:left;
    border-top:1px dotted #ccc;
    
    margin:20px auto;
    width:auto;
    color:#fff;
    padding:20px 0 0;

    text-transform:uppercase;
}

.caret {
    border-bottom-color:#fff !important;
    border-top-color:#fff !important;
}

.carousel-caption {
    padding:20px 20px 30px;
}

.dropdown-toggle img {
    height:20px;
}

.dropdown-toggle a {
    padding:0 !important;
}

.navbar-form {
    border:0;
    width:80%;
}

.navbar-nav > li > a {
    padding:10px;
}

.btn > img, .btn-default > img {
    height:16px;
}

.row {
    margin-top:20px;
    margin-bottom:20px;
}

.page-header {
    margin:20px auto !important;
}

.body-content {
    padding:20px;
}

.jumbotron {
    background:url("../images/Celine_Dion_Concert_Stage_@_Montreal.jpg") no-repeat;
    background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
}

.carousel-caption {
    background:rgba(0,0,0,0.8);
    width:auto;
}

.thumbnail .caption {
    color:#fff !important;
}

.thumbnail .caption p {
    margin:0 !important;
    font-size:12px !important;
    text-align:justify;
    padding:0 0 10px !important;
}

.thumbnail  img.preview {
    display: block;
    height: auto;
    max-width: 100%;
}

.col-md-4 {
    margin-bottom:20px;
}

.col-md-6 {
    padding:10px;
}

.thumbnail {
    background-color:none !important;
    border:0 !important;
}

footer {
    margin:30px auto !important;
}

.caption p {
    padding:10px 0;
}

.pf-container {
    margin:auto !important;
    background:inherit !important;
}