
.search_btn
{
	position:relative; 
	padding:11px 20px;	
	border:0;
	
	-webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 10px;
	background:#FDE503;
 
	color:#333;
	font-weight:bold;
	
	cursor:pointer;
	
	-webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.05);
}

.search_btn:hover
{
	background:#f4ee82 !important;
	text-decoration:none;

}

/*-----------------------------------------------------------------------------------------------------------------------*/


.mybutton
{
	position:relative; 
	padding:12px;
	width:auto;
	border:0;
	text-decoration:none;
	color:#333;
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
	vertical-align:middle;
	
	-webkit-transition:background .5s;
	transition:background .5s;
}

.mybutton:hover
{
	text-decoration:none;
	background:#333 !important;
	text-decoration:none;
	color:#fff !important;
}

.mybutton img
{
    vertical-align:middle;
    height:20px;
}

.mybutton span
{
    margin-left:10px;
}

/*-----------------------------     PROPIEDADES   -----------------------------------------------------------*/

.bold
{
    font-weight:bold !important;
}

.noborder {
    border:0;
}

.whiteborder
{
    border:1px solid #ccc !important;
}

.dottedwhite
{
    border:1px dotted #fff !important;
}

.dottedwhite-top
{
    border-top:1px dotted #fff !important;
}

.blackborder
{
    border:1px solid #666 !important;
}

.blacktext
{
    color:#000 !important;
}

.whitetext
{
    color:#fff !important;
}

.rounded 
{
    border-radius: 10px !important;
}

.norounded 
{
    border-radius: 0;
}

.nobg
{
    background:none !important;
}

.black {
    background:#000 !important;
}

.white 
{
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.31, rgb(255, 255, 255)),
	color-stop(1, rgb(222, 222, 222))
    );
    background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 31%, rgb(222, 222, 222) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 31%, rgb(222, 222, 222) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 31%, rgb(222, 222, 222) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 31%, rgb(222, 222, 222) 100%);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 31%, rgb(222, 222, 222) 100%);
}

.whiteclear
{
    background:rgba(255,255,255,.4) !important;
}


.blackclear
{
    background:rgba(0,0,0,.3) !important;
}

.blackclear2
{
    background:rgba(0,0,0,.2) !important;
}

.purple
{
    background:rgba(141, 48, 136, 1) !important;
}

.purpleclear
{
    background:rgba(141, 48, 136, .8) !important;
}

.yellow
{
    background:rgba(253,229,3,1) !important;
}

.yellowclear
{
    background:rgba(253,229,3,.8) !important;
}

.bluegray 
{
    background:rgba(110, 160, 181, 1);
}

.orange 
{
   background:rgba(228,116,37,1) !important;
}

.orangeclear
{
    background:rgba(228,116,37,.8) !important;
}

.lightgreen 
{
    background:rgba(185,213,49,1) !important;
}

.lightgreenclear
{
    background:rgba(185,213,49,.8) !important;
}

.green 
{
    background:rgba(0,164,80,1) !important;
}

.greenclear
{
    background:rgba(0,164,80,.8) !important;
}

.blue 
{
    background:rgba(0,144,206,1) !important;
}

.blueclear
{
    background:rgba(0,144,206,.8) !important;
}

.clear
{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.full
{
    width:90%;
}

.shadow 
{
    -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.noshadow 
{
    box-shadow:none !important;
}

.glow 
{
    -webkit-box-shadow:  0px 0px 10px 1px rgba(255, 255, 255, 0.4);
    box-shadow:  0px 0px 10px 1px rgba(255, 255, 255, 0.4);
}

.hidden
{
    display:none;
}


input[type="text"], input[type="password"], textarea, select, input[type="email"] 
{
    padding:7px;
    border:1px solid #999;
} 

/*-----------------------------------------------------------------------------------------------------------*/


ul.searchbar
{
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}

ul.searchbar li
{
    display:inline;
}


.search_btn
{
	position:relative; 
	padding:10px 18px 9px;	
	border:0;
	
	-webkit-border-radius: 0px 10px 10px 0px;
	font-weight:bold;
	
	cursor:pointer;
}

.search_btn:hover
{
	background:#5ca7d7;
	text-decoration:none;
	color:#fff;
}

.search_btn > img, .search_btn > input[type="image"]
{
    height:20px;
}

.search_btn > span
{
    margin-left:20px;
}

/*----------------------------------------------------------------------------------------------------------------*/

ul.footernav {
    margin:auto;
    list-style-type:none;
    font-size:12px;
    color:#ccc;
}

ul.footernav li
{
    display:inline;
    padding-right:20px;
}

ul.footernav li > a 
{
    text-decoration:underline !important;
    color:#ccc;
    text-transform:capitalize;
    letter-spacing:1px;
}

ul.footernav li > a:hover
{
    text-decoration:none !important;
    color:#fff;
}

/*----------------------------------------------------------------------------------------------------------------*/

ul.searchform 
{
    margin:auto;
    padding:20px;
    list-style-type:none;
    text-align:center;
    background:#333;
    width:auto;
}

ul.searchform li
{
    display:inline;
}

ul.searchform li > a, ul.searchform li > div, ul.searchform li > input
{

    float:left;
    margin-right:10px;
}


/*----------------------------------------------------------------------------------------------------------------*/


fieldset.formcontainer
{
    padding:20px 0px;
    margin: auto;

    width:inherit;
    display:block;
}

fieldset.formcontainer > legend
{
   padding:20px;
   text-transform:capitalize;
   font-size:14px;
    border:0;
    width:auto;
    margin-left:0px;

}



fieldset.formcontainer fieldset > legend
{
    padding:15px 20px;
    border:0;
    width:auto;
    margin:0;
}

fieldset.formcontainer fieldset
{
    border:2px solid #fff;
    margin:30px auto 20px;
    width:auto;
    padding:20px;
}



/*----------------------------------------------------------------------------------------------------------------*/



.left
{
    float:left !important;
}

.right
{
    float:right !important;
}

.half
{
    width:70% !important;
}


.all
{
    width:100%  !important;
}
/*-------------------------------------------------------------------------------------------------*/

fieldset.formcontainer table
{
    width:100%;
    margin:auto;
}

fieldset.formcontainer table td span
{
    display:block;
    font-weight:bold;
}

fieldset.formcontainer table td, fieldset.formcontainer table th
{
    padding:8px;
    text-align:left;
    font-size:12px;
    vertical-align:top;
    border:0px solid red;
}


fieldset.formcontainer table td ul
{
    padding:10px;
    list-style-type:none;
    text-align:left; 
    display:block;
    padding:0px;
}



input[type="checkbox"]
{
    margin-right:10px;
    border:0;

}



fieldset.formcontainer table input[type="image"]
{
	position:relative; 
	padding:11px 25px;	
	border:0;
	
	-webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 10px;
	background:#034181;
 
	color:#fff;
	font-weight:bold;
	
	cursor:pointer;
	
	-webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.05);
}

fieldset.formcontainer table input[type="image"]:hover
{
	background:#f4ee82;
	text-decoration:none;
	color:#333;
}

li.active > a:focus
{
    background:rgba(0,144,206,1) !important;
}

.ui-widget-header 
{
    background:none;
    border:none;
}



/*------------------------------------------------------------------------------------------------------------*/


.searchform
{
	text-align:left;
}

.searchform	input[type="text"] 
{ 
	padding:12px 20px 12px;
	margin:3px;
	color:#000;
	border:0;
	width:300px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	
	border-left:1px #fff solid;
	border-top:1px #fff solid;
	border-bottom:1px #fff solid;
	
	box-shadow:none !important;
}

.searchform	a
{
	position:relative; 
	padding:14px 20px;
	border:0;
	
	border-right:1px #fff solid;
	border-top:1px #fff solid;
	border-bottom:1px #fff solid;
	
	-webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
	left:-10px;
	font-weight:bold;
	
	cursor:pointer;
}

.searchform	a:hover
{
	background:#693;
}

.searchform	a > img, .searchform a > input[type="image"]
{
    height:24px;
}

