<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://vss4000.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vss4000.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vss4000</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$vss4000</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VSSEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=kagah8g1zy.database.windows.net;Initial Catalog=VSS;User ID=vssuser;Password=Password@1;Application Name=EntityFramework" Name="Data Source=kagah8g1zy.database.windows.net;Initial Catalog=VSS;User ID=vssuser;Password=Password@1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="vss.VSSEntities, vss" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VSSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/VSSModel.csdl|res://*/VSSModel.ssdl|res://*/VSSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=kagah8g1zy.database.windows.net;Initial Catalog=VSS;User ID=vssuser;Password=Password@1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>